.item {
  flex-direction: row;
  display: flex;
  font-size: 2rem;
  margin-top: 1rem;
  justify-content: space-between;
  &:nth-child(2n) {
    background: #f5fdfe;
  }
  > div {
    width: 10rem;
    word-break: break-word;
  }
  .iterator {
    width: 2rem;
  }
}
