.container {
  max-width: 32.5rem;
  margin: 0 auto;

  .title {
    font-style: italic;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-align: center;
  }
  .subtitle {
    margin-top: 2.5rem;
    font-style: italic;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 170%;
    text-align: center;
  }
  .color_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }
  .item {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 1.5rem;
    margin-bottom: 1.5rem;
  }
}
