.container {
  margin-top: 3rem;
  position: relative;
}
.image {
  position: absolute;
  left: 0;
  top: 1rem;
}
.timer_block {
  width: 28rem;
  margin: 0 auto;
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  align-items: center;
  letter-spacing: 0.17em;
  color: #000000;
  .title {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
  }
  .timer {
    position: relative;
    left: -4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .circle_container {
    position: relative;
    .inner_content {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2rem;
      line-height: 1.6rem;
      font-style: italic;
      text-align: center;
    }
  }
}
